:root{
    --white: #FFFFFF;
    --light: #F7F7F9;
    --dark: #41422F;
    --darker: #323321;
    --red: #AE1313;
    --lime: #9AA820;
    --yellow: #FFB300;
    --gray: #5B606D;
    --green: #479429;

    --font-main: "Overpass";
    --font-headings: "Barlow Condensed";

}

html {
    background-color: var(--white);
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: var(--font-main);
    color: var(--dark);
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: var(--font-headings);
    text-transform: uppercase;
}

.container {
    max-width: 1420px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
}


header {
    background-color: var(--dark);
}
nav {
    background-color: var(--darker);
}
nav>.container {
    background: transparent;
    padding: 0;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}